:root {
    --square-length: 45px;
}

body, html {
    height: 100vh;
}

body {
    background-image: url(../images/chalkboard.jpg);
    background-size: cover;
    color: #ddd;
    font-family: 'Cabin Sketch', cursive;
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    color: #ddd;
}

h2 {
    font-size: 30px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    margin-bottom: 15px;
}

#reset {
    color: red;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0);
    font-family: 'Cabin Sketch', cursive;
    font-size: 15px;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    width: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

button:hover {
    box-shadow: 0 0 15px #ddd;
    cursor: pointer;
}

#home {
    position: absolute;
    bottom: 40px;
    left: 10%;
    padding: 10px;
    background-color: #000;
    color: #bbb;
    font-size: 15px;
    border: 1px solid #bbb;
    border-radius: 10px;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 0 15px #ddd;
}