body {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 40px;
}

h2 {
    margin: 20px 0;
}

strong {
    font-weight: bold;
}

.game {
    display: flex;
    justify-content: center;
}

table {
    margin: 0px;
}

td {
    height: var(--square-length);
    width: var(--square-length);
}

td div {
    height: var(--square-length);
    width: var(--square-length);
    border-radius: 50%;
}

aside {
    width: 200px;
}

#reset {
    margin-top: 50px;
}