body, html {
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 40px;
}

h2 {
    font-size: 20px;
    margin: 20px 0;
}

strong {
    font-weight: bold;
}

.game {
    display: flex;
    justify-content: center;
}

table {
    margin: 0px;
}

td {
    height: 60px;
    width: 60px;
    border: 4px solid grey;
    cursor: pointer;
}

td div {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

aside {
    width: 200px;
}

#reset {
    margin-top: 50px;
    background-color: red;
    color: white;
}