body {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 40px;
}

h2 {
    margin: 20px 0;
}

strong {
    font-weight: bold;
}

.game {
    display: flex;
    justify-content: center;
}

table {
    margin: 0px;
}

td {
    height: var(--square-length);
    width: var(--square-length);
}

td div {
    border-radius: 50%;
}

.map-mark {
    height: var(--square-length);
    width: var(--square-length);
    background-color: red;
}

.map-miss {
    height: var(--square-length);
    width: var(--square-length);
    background-color: grey;
}

aside {
    width: 200px;
}

.game {
    margin-bottom: 30px;
}
button {
    margin: 0 auto 30px auto;
}

#reset {
    display: block;
}

#next {
    padding: 10px;
    background-color: rgb(0, 0, 0, 0);
    color: white;
    font-size: 24px;
    border-radius: 10px;
    font-family: 'Cabin Sketch', cursive;
}